@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #213E25;
    display: flex;
    color: aliceblue;
}
header section h2 a{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}
header section h2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;

}
header section h2{
    padding-left: 80px;
}
header section{
    display: flex;
    float: left;
}
header section h1 a img{
    height: 100px;
    position: absolute;
}
header section.Vector a img{
    height: 35px;
    margin: 20px;
    padding-left: 1600px;
}
section.title h2 a{
    font-size: 30px;
    font-weight: 400;
    font-style: italic
}
section.title h2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;

}
section.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.title h2 a{
    font-size: 30px;
    font-weight: 400;
    font-style: italic
}
section.title h2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;

}
section.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Tag1{
    background-color: #213E25;
    max-width: 300px;
    height: 0;
    margin-left: 12em;
    border-top: 20px solid transparent;
    border-right: 20px solid #ffff;
    border-bottom: 20px solid transparent;
}
section div h3{
    font-family: 'poppins', sans-serif;
    color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -15px;
}
main{
    display: flex;
    float: left;
    padding-left: 200px;
    margin-top: 2em;
}
main p{
    float: left;
    margin-top: 30px;

}
.Box input{
    background: #fff;
    border: 2px solid #2c2c2c;
    border-radius: 4px;
    color: #424242;
    cursor: pointer;
    padding: 10px 0px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  
}
.Box1 input{
    background: #fff;
    border: 2px solid #2c2c2c;
    border-radius: 4px;
    color: #424242;
    cursor: pointer;
    padding: 10px 0px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  
}
.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 2;
}

.quantity input {
    width: 18em;
    height: 50px;
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid #2E0F46;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 20px;
}
button{
    cursor: pointer;
    display: flex ;
    text-decoration: none;
    padding: 10px ;
    color: #E1E2E6;
    background-color: #213E25;
    font-family: 'Montserrat',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    border-radius: 8px;
    justify-content:center ;  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
}
.Tag2{
    background-color: #213E25;
    max-width: 240px;
    height: 0;
    margin-left: 12em;
    margin-top: 10em;
    border-top: 20px solid transparent;
    border-right: 20px solid #ffff;
    border-bottom: 20px solid transparent;
}
.List ul li{
    float: left;  
    display: flex;
    margin: 2em 6em;

}
.List{
    padding: 2em 15em;

}
.List ul{
    float: left;
    background: #fff;
    border: 2px solid #2c2c2c;
    border-radius: 4px;
    color: #424242;
    cursor: pointer;
    padding: 0px 0px 26em 0px;
    width: 70em;
}

.List li{
    text-decoration: none;
    float: left;  
    display: flex;
    margin: 6em 0.5em;
}
.List li img{
    width: 25px;
}