@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Cabeçalho*/

header{
    background-color: #213E25;
    display: flex;
    color: aliceblue;
}
header section h2 a{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}
header section h2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;

}
header section h2{
    padding-left: 80px;
}
header section{
    display: flex;
    float: left;
}
header section h1 a img{
    height: 100px;
    position: absolute;
}
header section.Vector a img{
    height: 35px;
    margin: 20px;
    padding-left: 1600px;
}
section.title h2 a{
    font-size: 30px;
    font-weight: 400;
    font-style: italic
}
section.title h2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;

}
section.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.Info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}
div.Info p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
}
div.Info h4{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
}
div.Info a{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 250;
    font-size: 20px;
}
div.Post h5.button{
    display: inline;
    text-decoration: none;
    margin-left: 200px;
    padding: 10px ;
    color: #E1E2E6;
    background-color: #213E25;
    font-family: 'Montserrat',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}
h5.button{
    max-width: 25px;
    border-radius: 8px;

}
main div.Post{
    display: flex;
    float: left;
    padding-left: 18%;
}
div.Info{
    margin-left: 40PX;
    margin-top: 40px;
}
div.Info p{
    margin-top: 30px;
}
div.Info h4{
    margin-top: 30px;
}
div.Info a{
    margin-top: 30px;
}

